@import '../../colors.css';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
  /* todo: płynne pojawianie się popupu */
}

.popupContent {
  position: relative;
  background: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  max-width: 60vw;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.popupText{
  color: black;
  margin-bottom: 1rem;
  
}
