.auth{
  color:white;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  margin-bottom: 2rem;
}

.loginForm, .registerForm{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}  

 @media screen and (min-width: 400px) { 
  .loginForm, .registerForm{
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
   
  }  
 } 

.linkBtn{
  margin-top: 1rem;
  color: white;
  text-decoration: underline;
  background-color: transparent;
}

.success{
  margin-top: 1rem;
  max-width: 17rem;
  font-size: 15px;
  color: rgb(66, 145, 45);
}

.loginAndRegisterBtnWidth
{
  min-width: 17rem;
}